@font-face {
    font-family:"Digital-7" ;
    src: url(./font/digital-7-mono.ttf)format("truetype");
  }
.forme{
    max-width: 400px;
    margin-left: 38.4%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.forme label{
    text-align: left;
    display:flex;
    position: relative;
    top:47px;
    right: 76.9px;
    color: forestgreen;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:larger;

}
.forme >.seconde{
    display: flex;
    position: relative;
    right: 90px;

}
.forme input{
    width: 100px;
    height: 39px;
    padding: 6px 10px;
    padding-left: 40px;
    margin: 10px 0;
    border: 2.4px solid rgb(5, 63, 5);
    border-radius: 20px;
    box-sizing: border-box;
    display: block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    color: #070c07;
}
button{
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    top:50px;
    width: 110px;
    font-weight:bolder;
}
  .clock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #00f001;
    font-family: "Digital-7", sans-serif;
    font-size: 6rem;
  }
  .body{
    width: 100vw;
    height: 100vh;
    background-color: #00f001;
    position: absolute
  }